PORT=5005
PORT_TELEMETRIA=5006
DEVICE_TOKEN=esp32_secret_device_token_2026
AWS_REGION=us-east-1
AWS_IOT_ENDPOINT=
DYNAMODB_TABLE_EMOCIONES=emociones
DYNAMODB_TABLE_LECTURAS_IOT=lecturas_iot
DYNAMODB_TABLE_NOTIFICACIONES=notificaciones
DYNAMODB_TABLE_LOGS_IOT=logs_iot
