VITE_USERS_API_URL=http://127.0.0.1:5001
VITE_GOOGLE_CLIENT_ID=tu-google-client-id.apps.googleusercontent.com
VITE_TURNSTILE_SITE_KEY=
VITE_CITAS_API_URL=http://127.0.0.1:5002
VITE_TELECONSULTA_API_URL=http://127.0.0.1:5003
VITE_PAGOS_API_URL=http://127.0.0.1:5004
VITE_IOT_API_URL=http://127.0.0.1:5005
VITE_GATEWAY_API_URL=http://127.0.0.1:5000