venv/
node_modules/
.git/
.wrangler/
.pytest_cache/
frontend/dist/
frontend/node_modules/
backend/servicios/servicio-usuarios/venv/
backend/servicios/servicio-usuarios/__pycache__/
backend/servicios/servicio-usuarios/.pytest_cache/
backend/servicios/servicio-usuarios/*.db
backend/servicios/servicio-usuarios/instance/
